version: '3.9'

services:
  web:
    build: .
    container_name: django_app
    command: python manage.py runserver 0.0.0.0:8000
    volumes:
      - .:/app
    ports:
      - "8000:8000"
    depends_on:
      - db
      - redis
    env_file:
      - ./tealcrm/.env
    environment:
      CELERY_BROKER_URL: redis://redis_broker:6379/0
      CELERY_RESULT_BACKEND: redis://redis_broker:6379/0
      POSTGRES_DB: tealcrm_db
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: 1234
      POSTGRES_HOST: db
      POSTGRES_PORT: 5432

  celery:
    build: .
    container_name: celery_worker
    command: celery -A tealcrm worker -l info
    volumes:
      - .:/app
    depends_on:
      - db
      - redis
    env_file:
      - ./tealcrm/.env
    environment:
      CELERY_BROKER_URL: redis://redis_broker:6379/0
      CELERY_RESULT_BACKEND: redis://redis_broker:6379/0

  celery_beat:
    build: .
    container_name: celery_beat
    command: celery -A tealcrm beat -l info
    volumes:
      - .:/app
    depends_on:
      - celery
    env_file:
      - ./tealcrm/.env
    environment:
      CELERY_BROKER_URL: redis://redis_broker:6379/0
      CELERY_RESULT_BACKEND: redis://redis_broker:6379/0

  redis:
    image: redis:7
    container_name: redis_broker
    ports:
      - "6379:6379"

  db:
    image: postgres:15
    container_name: postgres_db
    restart: always
    environment:
      POSTGRES_DB: tealcrm_db
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: 1234
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data/

volumes:
  postgres_data:
