Django>=5.0
psycopg2-binary>=2.9
djangorestframework>=3.14
django-cors-headers>=4.0
python-dotenv>=1.0
WeasyPrint==52.5  
tinycss2==1.1.1   
html5lib==1.1
unidecode>=1.3
celery
redis
dj-database-url
gunicorn
django-storages
boto3
resend

