{% extends 'core/base.html' %}

{% block title %}Add Lead{% endblock %}

{% block content %}
{% load custom_filters %}

<div class="py-6 px-6">
  <h1 class="text-xl">הוסף לקוח</h1>

  <form method="post" action=".">
    {% csrf_token %}

    <div class="mb-6 bg-white shadow rounded-xl p-4">
      <h2 class="text-lg font-semibold mb-3">פרטי לקוח</h2>
      {{ form.as_p }}
    </div>

    <div class="mb-6 bg-white shadow rounded-xl p-4">
      <h2 class="text-lg font-semibold mb-3">הוסף אנשי קשר</h2>
      <p class="text-gray-400 text-sm mb-10 italic">
        כדאי להוסיף גם את החתן והכלה כאנשי קשר ובקשר לבעלי השמחה לכתוב חתן עבור החתן או כלה עבור הכלה
    </p>
      {{ formset.management_form }}
      {% for contact_form in formset %}
        <div class="border p-3 mb-3 rounded-lg bg-gray-50">
          {{ contact_form.as_p }}
        </div>
      {% endfor %}
    </div>

    <div class="mb-6 bg-white shadow rounded-xl p-4">
      <h2 class="text-lg font-semibold mb-3">שדות מותאמים אישית</h2>

      {% for key, info in fields.items %}
        <div class="form-group mb-4">
          <label for="{{ key }}" class="block font-medium mb-1">{{ info.label }}</label>

          {% if info.type == "boolean" %}
            <select name="{{ key }}" id="{{ key }}" class="border p-2 rounded w-full">
              <option value="">בחר...</option> 
              <option value="True" {% if info.value == "True" %}selected{% endif %}>כן</option>
              <option value="False" {% if info.value == "False" %}selected{% endif %}>לא</option>
            </select>
          {% else %}
            <input 
              type="{{ info.type|default:'text' }}" 
              name="{{ key }}" 
              id="{{ key }}" 
              class="form-control p-2 w-full border rounded"
              value="{{ info.default|default:'' }}">
          {% endif %}
        </div>
      {% endfor %}
    </div>

    <button type="submit" class="py-4 px-8 bg-teal-500 text-white rounded-xl">
      הוסף לקוח
    </button>
  </form>
</div>
{% endblock %}
