{% extends 'core/base.html' %}

{% block title %}רשימת לקוחות{% endblock %}

{% block content %}
<div class="py-8 px-8 bg-gray-50 min-h-screen">
    <h1 class="text-2xl font-bold mb-6 text-teal-700 border-b-2 border-teal-500 inline-block pb-1">
        רשימת לקוחות
    </h1>
    <p class="text-gray-400 text-sm mb-10 italic">
        כדי לראות את הפרטים המלאים של הלקוח ניתן ללחוץ על שם הלקוח
    </p>

    <!-- SEARCH -->
    <form method="get" class="mb-6 flex gap-3">
        <input type="text" name="q" placeholder="חפש לקוח..."
               class="border border-gray-300 rounded-lg px-3 py-2 flex-1 focus:outline-none focus:ring-2 focus:ring-teal-400"
               value="{{ query }}">
        <button type="submit"
                class="bg-teal-600 hover:bg-teal-700 text-white px-5 py-2 rounded-lg shadow-sm">
            חיפוש
        </button>
    </form>

    
    <a href="{% url 'add_lead' %}"
       class="inline-block px-6 py-2 mb-6 bg-teal-500 hover:bg-teal-600 rounded-xl text-white shadow-md transition">
        ➕ הוסף לקוח
    </a>

    <!-- LEADS TABLE -->
    <div class="overflow-x-auto bg-white rounded-2xl shadow">
        <table class="min-w-full text-center border-collapse">
            <thead class="bg-gray-100 border-b border-gray-300 text-gray-700 font-semibold">
                <tr>
                    <th class="py-3 px-2">בעלי השמחה</th>
                    <th>יום</th>
                    <th>תאריך עברי</th>
                    <th>תאריך לועזי</th>
                    <th>שעה</th>
                    <th>אולם</th>
                    <th>צלמת</th>
                    <th>עוזר</th>
                    <th>וידאו</th>
                    <th>סטטוס עסקי</th>
                    <th>סטטוס תשלום</th>
                    <th>הורדה</th>
                    <th>שליחה</th>
                </tr>
            </thead>
            <tbody>
                {% for key,leads_in_group in grouped_leads.items %}
                    {% for lead in leads_in_group %}
                        <tr class="border-b hover:bg-gray-50 {{ lead.color_class }}">
                            <td class="py-2 px-2 font-semibold text-teal-700 hover:text-teal-900">
                                <a href="{% url 'leads_detail' lead.id %}">
                                    {{ lead.bride_side }} - {{ lead.groom_side }}
                                </a>
                            </td>
                            <td>{{ lead.get_day_display }}</td>
                            <td>{{ lead.hebrew_day }} {{ lead.get_hebrew_month_display }} {{ lead.hebrew_year }}</td>
                            <td>{{ lead.date_gregorian|date:"d/m/Y" }}</td>
                            <td>{{ lead.hour }}</td>
                            <td>{{ lead.hall }}</td>
                            <td>{{ lead.additional_crew }}</td>  
                            <td>{{ lead.assistent }}</td>
                            <td>{{ lead.video }}</td>
                            <td>{{ lead.get_status_display }}</td>
                            <td>{{ lead.get_payment_status_display }}</td>
                            <td>
                                <a href="{% url 'lead_pdf' lead.id %}"
                                   class="bg-green-500 hover:bg-green-600 text-white px-3 py-1 rounded-md text-sm shadow-sm">
                                    הורד PDF
                                </a>
                            </td>
                            <td>
                                <form method="get" action="{% url 'send_client_email' lead.id %}" class="inline">
                                    <button type="submit"
                                            class="bg-sky-500 hover:bg-sky-600 text-white px-3 py-1 rounded-md text-sm shadow-sm">
                                        שלח PDF ללקוח
                                    </button>
                                </form>
                            </td>
                        </tr>
                    {% empty %}
                        <tr>
                            <td colspan="13" class="text-gray-500 py-4">אין עדיין לקוחות בחודש זה...</td>
                        </tr>
                    {% endfor %}
                {% empty %}
                    <tr>
                        <td colspan="13" class="text-gray-500 py-4">אין לקוחות במערכת...</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}
