<!DOCTYPE html>

<html lang="he" dir="rtl">
<body>
    <nav class="py-6 px-6 flex justify-between text-center mb-10 mt-4" 
        style="background-color: rgb(189, 251, 255);">
        <h2 class="text-4xl font-bold mb-4">בחר כתובת לשליחה</h2>
    </nav>
    <p class="text-gray-400 text-sm mb-10 italic">
        המייל ישלח מכתובת האתר: mazaltovcrm@gmail.com
    </p>
    <form method="post">
        {% csrf_token %}

        <label for="chosen_email" class="text-3xl font-semibold text-center">שלח אל:</label>
        <select name="chosen_email" id="chosen_email"
                class="text-2xl p-2 rounded w-full my-3 text-center">
            {% for email, label in emails %}
                <option value="{{ email }}">{{ label }} — {{ email }}</option>
            {% endfor %}
         </select>

        <button type="submit"
                class="hover:bg-sky-700 text-white px-4 py-2 rounded mt-3 text-center"
                style="background-color: rgb(205, 247, 255);">
            שלח PDF
        </button>
    </form>
</body>